{% extends 'base.html.twig' %}
{% block title 'Description' %}

{% block body %}
    <div>
        {{ include('layout/_header-nav-admin.html.twig') }}
    </div>
    {# Connexion #}
    <div id="login" class="section-height">
        <div class="offset-2 col-8 py-10">
            <div class="row m-0">
                <h2 class="form-padding m-auto">Visualisation de votre description</h2>
            </div>
                <div class="row d-flex justify-content-center div-agence m-0 py-4">
                    <div class="offset-0 col-12">
                        {% if agence.filename %}
                            <img class="img-fluid rounded pb-2"
                                 src="{{ vich_uploader_asset(agence, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top">
                        {% else %}
                            <img class="img-fluid rounded pb-2" src="{{ 'images/no-image.png' | imagine_filter('medium') }}"
                                 alt="card-img-top">
                        {% endif %}
                        <h2>{{ agence.title }}</h2>
                        <p class="text-justify py-4">{{ agence.description }}</p>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
