<div class="table-responsive">
    <table class="table table-striped m-0">
        <thead class="text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">titre</th>
            <th scope="col">Description</th>
            <th scope="col" colspan="2">
                {% if creations | length < 1 %}
                    <div class="text-center btn-admin bg-button-purple">
                        <a href="{{ path('admin.creation.new') }}" class=" text-white border-0" style="width:100%"><i
                                    class="fa fa-plus pt-1" aria-hidden="true"></i></a>
                    </div>
                {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for creation in creations %}
            <tr>
                <th scope="row">{{ creation.id }}</th>
                <td>{{ creation.name }}</td>
                <td class="d-inline-block text-truncate"
                    style="max-width: 400px;">{{ creation.descriptions }}</td>
                <td>
                    <div class="d-flex flex-row">
                        <div class="text-center">
                            <a href="" class="btn btn-admin bg-button-purple text-white border-0"
                            ><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </div>
                        <div class="text-center mx-1">
                            <a href="{{ path('admin.creation.edit', {id: creation.id}) }}"
                               class="btn btn-admin bg-button-purple text-white border-0"
                            ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('admin.creation.edit', {id: creation.id}) }}"
                               class="btn btn-admin bg-button-purple text-white border-0"
                            ><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>